            <div id="menulogin">
                <ul class="menulogin">
                    <li><a href="add_admin"><input type="button" class="button" value="GESTISCI UTENTI"/></a></li>
                    <li><a href="add_rubrica"><input type="button" class="button" value="GESTISCI RUBRICA"/></a></li>
                    <li><a href="gestiscieventi"><input type="button" class="button" value="GESTISCI EVENTI"/></a></li>
                    <li><a href="gestisciluoghi"><input type="button" class="button" value="GESTISCI LUOGHI"/></a></li>
                    <li style="margin-top:10px;"><a href="gestisciattrezzature"><input type="button" class="button" value="GESTISCI ATTREZZATURE"/></a></li>
                    
                </ul>
            </div>